

<!-- yaha ham website ka footer bnaye ga q ka navbar footer website ma har page pa similar hota hain so ham inko includes folder ma bna ka aik jagah phir include krdaita hain or use krta hain phir  -->

<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
           <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>